name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.3
            os: ubuntu-22.04
          # TODO figure out issue with Ruby 3.2.3
          - ruby: 3.2.2
            os: macos-14
          - ruby: 3.1
            os: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake compile
      - run: bundle exec rake test
